# Clustering drone hubs

## Assignment understanding

This assignment is based on a real-world drone delivery scenario. We've used Amazon's drone delivery system as an inspirational prototype for the machine learning problem we aim to solve. However, it's important to note that our dataset is completely independent of Amazon

With this assignment we aim to address two theoretical problem:

1. **Minimize Delivery Times & Costs**: By strategically placing drone hubs (depots), the company can reduce the average travel distance for each delivery, leading to lower energy costs and faster service. We will use **k-means and hierarchical clustering** to determine the optimal coordinates for these hubs.

2. **Increase Sales Revenue**: By understanding customer purchasing patterns, the company can create targeted marketing campaigns and product bundles. We will identify which product groups are frequently bought together using **Association Rule Mining**, as discussed in our lectures.

In [1]:
# --- Necessary Setup For This Assignment ---

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time

from sklearn.cluster import KMeans, AgglomerativeClustering

# Set plot style for better visuals
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (10, 6)

## Data understanding

This assignment uses two distinct datasets, one for each part of the analysis. Both have been imported from the GitHub repository provided by our instructor.

### 1. Clustering set

In [2]:
# Load the customer location data
locations_df = pd.read_csv('./droneData/drone_cust_locations.csv ', sep=';')

# Display the first few rows of the dataframe
print("\n--- First 5 rows of the dataset: ---\n")
display(locations_df.head(5))


# Display the all relevant info in a transposed summary table
print("\n--- Summary Table --- \n")
# Get descriptive statistics and transpose it
summary_table = locations_df.describe().T

# Add columns for data type and missing values
summary_table['value_type'] = locations_df.dtypes
summary_table['missing_values'] = locations_df.isnull().sum()

display(summary_table)

--- First 5 rows of the dataset: ---

   clientid           x           y
0         1  622.771572  164.857623
1         2  416.357298  630.193634
2         3  292.735020  567.333231
3         4  737.211288  166.225676
4         5  540.475375  682.912298

--- Summary Table ---

,count,mean,std,min,25%,50%,75%,max,value_type,missing_values
clientid,5956.0,2978.500000,1719.493433,1.000000,1489.750000,2978.500000,4467.250000,5956.000000,int64,0
x,5956.0,508.823177,271.061462,0.017692,282.582920,518.100892,727.156497,999.533215,float64,0
y,5956.0,427.554772,289.044640,0.043285,170.079921,397.786441,669.982518,999.731720,float64,0

The customer locations dataset contains 5,956 entries and three initial features. The data is clean, with no missing values found.

Here's a breakdown of the columns:

- `clientid`: This is an integer column that uniquely identifies each customer. It will be excluded from the clustering model, as it's an identifier and not a geographic feature.

- `x` and `y`: These are float columns representing the customers' geographic coordinates. They are the essential features for our analysis. Their values range from 0 to 1000.

### 2. Association set

In [3]:
# Load the product group data
products_df = pd.read_csv('./droneData/drone_prod_groups.csv')

# Display the first few rows of the dataframe
print("\n--- First 5 rows of the product dataset: ---\n")
display(products_df.head(5))


# Display the all relevant info in a transposed summary table
print("\n--- Product Data Summary Table --- \n")

# Create a DataFrame from the column names
features_summary_df = pd.DataFrame(products_df.columns, columns=['Feature'])

# Add columns for Data Type, Missing Values, and a list of Unique Values
features_summary_df['Data Type'] = products_df.dtypes.values
features_summary_df['Value Count'] = products_df.count().values
features_summary_df['Missing Values'] = products_df.isnull().sum().values
features_summary_df['Unique Values'] = [', '.join(map(str, products_df[col].unique())) for col in products_df.columns]

# Set the 'Feature' column as the index for cleaner presentation
features_summary_df.set_index('Feature', inplace=True)

display(features_summary_df)

--- First 5 rows of the product dataset: ---

,ID,Prod1,Prod2,Prod3,Prod4,Prod5,Prod6,Prod7,Prod8,Prod9,...,Prod11,Prod12,Prod13,Prod14,Prod15,Prod16,Prod17,Prod18,Prod19,Prod20
0,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
1,2,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,1,1,1,1,1
2,3,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
3,4,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
4,5,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,1

--- Product Data Summary Table ---

,Data Type,Value Count,Missing Values,Unique Values
Feature,,,,
ID,int64,100000,0,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,..."
Prod1,int64,100000,0,"0, 1"
Prod2,int64,100000,0,"0, 1"
Prod3,int64,100000,0,"0, 1"
Prod4,int64,100000,0,"0, 1"
Prod5,int64,100000,0,"0, 1"
Prod6,int64,100000,0,"0, 1"
Prod7,int64,100000,0,"0, 1"
Prod8,int64,100000,0,"0, 1"
Prod9,int64,100000,0,"1, 0"
Prod10,int64,100000,0,"0, 1"
Prod11,int64,100000,0,"0, 1"
Prod12,int64,100000,0,"0, 1"
Prod13,int64,100000,0,"0, 1"
Prod14,int64,100000,0,"0, 1"
Prod15,int64,100000,0,"1, 0"
Prod16,int64,100000,0,"0, 1"
Prod17,int64,100000,0,"0, 1"
Prod18,int64,100000,0,"0, 1"
Prod19,int64,100000,0,"0, 1"
Prod20,int64,100000,0,"1, 0"

The customer transactions dataset contains 100,000 entries and 21 initial features. The data is clean, with no missing values found.

Here's a breakdown of the columns:

- `ID`: An integer that uniquely identifies each transaction. It will be excluded from the analysis.

- from `prod1` to `prod20`: These are binary columns, each representing a unique product group. The value is `1` if an item from that group was purchased in the transaction and `0` if it was not.

## Data preparation

data preprocessing
- cleaning the data
- transforming the data
- selecting the relevant features


For this assignment, the datasets are quite clean and well-structured.

- For clustering, we will use the x and y columns from locations_df directly.

- For association rule mining, we will use the product columns (Prod1 to Prod20) from products_df. The ID column will be dropped as it is not a feature.

In [4]:
# Prepare data for clustering
X_locations = locations_df[['x', 'y']]

# Prepare data for association rule mining
# Drop the transaction ID column
X_products = products_df.drop('ID', axis=1).astype(bool)

## Modeling

choose a machine learning method and train the model (+ model validation)
- which method was used?
- which parameters were used?
- what was the performance of the model?

In [5]:
# hello world

### Part 2: Finding interesting relationships between product groups

In this part, we apply association rule mining to discover interesting relationships between product groups. The goal is to find relationships between items that often occur together in transactions. For example, if customers frequently buy two specific products together, the algorithm will detect that as a strong pattern.

We are using the Apriori algorithm, which looks for itemsets that appear often enough for it to be considered an interesting relationship. From these frequent itemsets, we can generate rules that show how the presence of some items can imply the presence of others.

This helps us understand customer purchasing behavior and can be used for things like recommendations, product placement, or promotions.

In [6]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\maria\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\maria\anaconda3\lib\site-packages (from mlxtend) (1.15.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\maria\anaconda3\lib\site-packages (from mlxtend) (2.1.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\maria\anaconda3\lib\site-packages (from mlxtend) (2.2.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\maria\anaconda3\lib\site-packages (from mlxtend) (1.6.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\maria\anaconda3\lib\site-packages (from mlxtend) (3.10.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\maria\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\maria\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\maria\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\maria\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\maria\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\maria\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\maria\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\maria\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\maria\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\maria\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\maria\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\maria\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\maria\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# library used for association rule mining
from mlxtend.frequent_patterns import apriori, association_rules

#### Finding frequent itemsets

Support indicates the threshold for how frequently an itemset must appear in the dataset in order to be included in the findings. We chose to use 1% as the support value since the dataset is relatively large and a higher value would only show a few patterns.

In [8]:
# find frequent itemsets
frequent_itemsets = apriori(X_products, min_support=0.01, use_colnames=True)
frequent_itemsets.sort_values('support', ascending=False).head(20)

     support            itemsets
18   0.20626           ( Prod19)
8    0.19853            ( Prod9)
7    0.16179            ( Prod8)
11   0.15971           ( Prod12)
19   0.14798           ( Prod20)
13   0.14557           ( Prod14)
6    0.13499            ( Prod7)
130  0.13476  ( Prod20,  Prod19)
15   0.13100           ( Prod16)
1    0.13098            ( Prod2)
17   0.12166           ( Prod18)
14   0.11880           ( Prod15)
85   0.11145   ( Prod9,  Prod15)
0    0.10998             (Prod1)
10   0.10848           ( Prod11)
4    0.10459            ( Prod5)
9    0.09336           ( Prod10)
52   0.06683   ( Prod5,  Prod12)
16   0.05618           ( Prod17)
89   0.04996   ( Prod9,  Prod19)

We can see that Product 19 appears in the transactions most often, and the combination of Product 19 and Product 20 is the most frequent itemset containing multiple items.

#### Generating association rules

Confidence measures the reliability of the association rule, representing the proportion of transactions that contain itemset X which also contain itemset Y. A higher confidence value means that the rule is interesting since it is accurate.

In [9]:
# generate association rules based on confidence
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.75)

# sort in descending order of confidence
rules_sorted = rules.sort_values(by='confidence', ascending=False)
rules_sorted[['antecedents','consequents','antecedent support','consequent support','support','confidence','lift']].head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
4,"( Prod2, Prod15)",( Prod9),0.01947,0.19853,0.01843,0.946584,4.767967
19,"( Prod20, Prod15)",( Prod9),0.02241,0.19853,0.02119,0.945560,4.762807
30,"( Prod20, Prod19, Prod15)",( Prod9),0.02030,0.19853,0.01919,0.945320,4.761599
14,"( Prod15, Prod12)",( Prod9),0.02308,0.19853,0.02173,0.941508,4.742396
8,"( Prod7, Prod15)",( Prod9),0.02014,0.19853,0.01895,0.940914,4.739403
17,"( Prod18, Prod15)",( Prod9),0.01743,0.19853,0.01640,0.940906,4.739367
18,"( Prod19, Prod15)",( Prod9),0.03041,0.19853,0.02861,0.940809,4.738875
16,"( Prod15, Prod16)",( Prod9),0.01936,0.19853,0.01820,0.940083,4.735217
2,"(Prod1, Prod15)",( Prod9),0.01597,0.19853,0.01501,0.939887,4.734233
0,( Prod15),( Prod9),0.11880,0.19853,0.11145,0.938131,4.725388
13,"( Prod11, Prod15)",( Prod9),0.01576,0.19853,0.01477,0.937183,4.720610
12,"( Prod10, Prod15)",( Prod9),0.01365,0.19853,0.01278,0.936264,4.715981
6,"( Prod5, Prod15)",( Prod9),0.01506,0.19853,0.01409,0.935591,4.712592
10,"( Prod8, Prod15)",( Prod9),0.02352,0.19853,0.02195,0.933248,4.700792
15,"( Prod15, Prod14)",( Prod9),0.02110,0.19853,0.01969,0.933175,4.700425
27,"( Prod18, Prod20)",( Prod19),0.02233,0.20626,0.02052,0.918943,4.455266
24,"( Prod20, Prod14)",( Prod19),0.02599,0.20626,0.02387,0.918430,4.452779
9,"( Prod20, Prod7)",( Prod19),0.02436,0.20626,0.02236,0.917898,4.450200
3,"(Prod1, Prod20)",( Prod19),0.01970,0.20626,0.01801,0.914213,4.432334
22,"( Prod20, Prod11)",( Prod19),0.02014,0.20626,0.01840,0.913605,4.429384

- `antecedents` – The "if" part of the rule (the **X** in **X** -> **Y**).
- `consequents` – The "then" part of the rule (the **Y** in **X** -> **Y**).
- `support` – Frequency of the itemset appearing in the dataset.
- `confidence` – Probability that the consequent occurs given that the antecedent occurs.
- `lift` – How much more likely the antecedent and consequent are to occur together rather than independently.

We can see that the most reliable rule is those who purchased Product 2 and Product 15 also purchase Product 9 within the same transaction. However, since Product 9 was second most frequently present item in the transactions, it is not surprising that the most reliable rules sorted by confidence include the product. From a company's viewpoint, we want to know which rule has a high lift, which tells us how much more often the antecedent and consequent occur together than if they were statistically independent. This helps determine the most favorable recommendations, discounted bundles, and such for customers.

In [10]:
# generate association rules based on lift
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=4)

# sort in descending order of lift
rules_sorted = rules.sort_values(by='lift', ascending=False)
rules_sorted[['antecedents','consequents','antecedent support','consequent support','support','confidence','lift']].head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
155,"( Prod19, Prod15)","( Prod9, Prod20)",0.03041,0.03676,0.01919,0.631042,17.166551
152,"( Prod9, Prod20)","( Prod19, Prod15)",0.03676,0.03041,0.01919,0.522035,17.166551
154,"( Prod20, Prod15)","( Prod9, Prod19)",0.02241,0.04996,0.01919,0.856314,17.139995
153,"( Prod9, Prod19)","( Prod20, Prod15)",0.04996,0.02241,0.01919,0.384107,17.139995
143,"( Prod19, Prod12)","( Prod20, Prod5)",0.03881,0.01888,0.01101,0.283690,15.025941
140,"( Prod20, Prod5)","( Prod19, Prod12)",0.01888,0.03881,0.01101,0.583157,15.025941
142,"( Prod5, Prod19)","( Prod20, Prod12)",0.02610,0.02811,0.01101,0.421839,15.006726
141,"( Prod20, Prod12)","( Prod5, Prod19)",0.02811,0.02610,0.01101,0.391676,15.006726
103,( Prod15),"( Prod9, Prod20)",0.11880,0.03676,0.02119,0.178367,4.852204
100,"( Prod9, Prod20)",( Prod15),0.03676,0.11880,0.02119,0.576442,4.852204
88,"( Prod9, Prod16)",( Prod15),0.03160,0.11880,0.01820,0.575949,4.848059
91,( Prod15),"( Prod9, Prod16)",0.11880,0.03160,0.01820,0.153199,4.848059
19,( Prod15),"( Prod9, Prod2)",0.11880,0.03210,0.01843,0.155135,4.832856
16,"( Prod9, Prod2)",( Prod15),0.03210,0.11880,0.01843,0.574143,4.832856
148,"( Prod9, Prod20, Prod19)",( Prod15),0.03345,0.11880,0.01919,0.573692,4.829058
159,( Prod15),"( Prod9, Prod20, Prod19)",0.11880,0.03345,0.01919,0.161532,4.829058
99,( Prod15),"( Prod9, Prod19)",0.11880,0.04996,0.02861,0.240825,4.820355
96,"( Prod9, Prod19)",( Prod15),0.04996,0.11880,0.02861,0.572658,4.820355
35,( Prod15),"( Prod9, Prod5)",0.11880,0.02462,0.01409,0.118603,4.817331
32,"( Prod9, Prod5)",( Prod15),0.02462,0.11880,0.01409,0.572299,4.817331

#### Business recommendations

**Personalised recommendations and marketing**
- Use association rules to personalise recommended products for customers, and trigger a promotional email/notification of the consequents when a customer buys items from an antecedent group.

**Bundles**
- For rules with high confidence and lift, create suggestions in the checkout/shopping cart (“Customers who bought Product 15 also bought Products 20 and 9 — add them to the cart?”) and possibly include a tempting discount for the bundled items.

**Pre-loading packages**
- If certain product groups are frequently purchased together, keep pre-loaded packages with those products at the depot locations for faster shipping.

**Depot layout**
- Place commonly co-purchased product groups close to each other in the depot to increase effectiveness.

## Evaluation

evaluate the model
- How well does the model perform?
- Does it meet the business requirements?

In [11]:
# hell world

## Deployment

johtopaatos / creating a recommendation of how to use the model in practice, or what to do next
- How will the model be used in practice?
- How will the results be communicated?

In [12]:
# hello world

### Reflection

#### Ai Usage
- for research

#### Team contribution
- who did what

#### Sources
- links & descriptions